<ircsettings>
	<!-- leave passwords empty if they're not necessary -->
	<server>irc.twitch.tv</server>
	<port>6667</port>
	<nick>nickname</nick>
	<login>server password</login>
	<nickservlogin>nickserv password</nickservlogin>
	<channel>#channel</channel>
	<ssl>0</ssl> <!-- set to 1 to turn on -->
	
	<!-- Message Limiter settings -->
	<messagelimitperiod>30</messagelimitperiod>
	<messagelimit>19</messagelimit>
</ircsettings>
